.wrapper
  .sidebar(data-color='purple', data-image='assets/img/sidebar-5.jpg')
    //
      Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
      Tip 2: you can also add an image using data-image tag
    .sidebar-wrapper
      .logo
        a.simple-text(href='http://www.creative-tim.com')
          | Creative Tim
      |                        
      |             
      ul.nav
        li.active
          a(href='dashboard.html')
            i.pe-7s-graph
            |  
            |                         
            p Dashboard
        |                 
        li
          a(href='user.html')
            i.pe-7s-user
            |  
            |                         
            p User Profile
        |  
        |                 
        li
          a(href='table.html')
            i.pe-7s-note2
            |  
            |                         
            p Table List
        |                 
        li
          a(href='typography.html')
            i.pe-7s-news-paper
            |  
            |                         
            p Typography
        |                 
        li
          a(href='icons.html')
            i.pe-7s-science
            |  
            |                         
            p Icons
        |                 
        li
          a(href='maps.html')
            i.pe-7s-map-marker
            |  
            |                         
            p Maps
        |                 
        li
          a(href='notifications.html')
            i.pe-7s-bell
            |  
            |                         
            p Notifications
  |     
  |     
  .main-panel
    nav.navbar.navbar-default.navbar-fixed
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navigation-example-2')
            span.sr-only Toggle navigation
            |                         
            span.icon-bar
            |                         
            span.icon-bar
            |                         
            span.icon-bar
          |                     
          a.navbar-brand(href='#') Dashboard
        |                 
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left
            li
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-dashboard
            |                         
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-globe
                |                                     
                b.caret
                |                                     
                span.notification 5
              |                               
              ul.dropdown-menu
                li
                  a(href='#') Notification 1
                |                                 
                li
                  a(href='#') Notification 2
                |                                 
                li
                  a(href='#') Notification 3
                |                                 
                li
                  a(href='#') Notification 4
                |                                 
                li
                  a(href='#') Another notification
            |                         
            li
              a(href='')
                i.fa.fa-search
          |                     
          |                     
          ul.nav.navbar-nav.navbar-right
            li
              a(href='')
                | Account
            |                         
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                b.caret
              |                               
              ul.dropdown-menu
                li
                  a(href='#') Action
                |                                 
                li
                  a(href='#') Another action
                |                                 
                li
                  a(href='#') Something
                |                                 
                li
                  a(href='#') Another action
                |                                 
                li
                  a(href='#') Something
                |                                 
                li.divider
                |                                 
                li
                  a(href='#') Separated link
            |                         
            li
              a(href='#')
                | Log out
    |                      
    |                      
    |         
    .content
      .container-fluid
        .row
          .col-md-4
            .card
              .header
                h4.title Email Statistics
                |                                 
                p.category Last Campaign Performance
              |                             
              .content
                #chartPreferences.ct-chart.ct-perfect-fourth
                |                                 
                |                                 
                .footer
                  .legend
                    i.fa.fa-circle.text-info
                    |  Open
                    |                                         
                    i.fa.fa-circle.text-danger
                    |  Bounce
                    |                                         
                    i.fa.fa-circle.text-warning
                    |  Unsubscribe
                  |                                     
                  hr
                  |                                     
                  .stats
                    i.fa.fa-clock-o
                    |  Campaign sent 2 days ago
          |                     
          |                     
          .col-md-8
            .card
              .header
                h4.title Users Behavior
                |                                 
                p.category 24 Hours performance
              |                             
              .content
                #chartHours.ct-chart
                |                                 
                .footer
                  .legend
                    i.fa.fa-circle.text-info
                    |  Open
                    |                                         
                    i.fa.fa-circle.text-danger
                    |  Click
                    |                                         
                    i.fa.fa-circle.text-warning
                    |  Click Second Time
                  |                                     
                  hr
                  |                                     
                  .stats
                    i.fa.fa-history
                    |  Updated 3 minutes ago
        |                     
        |                 
        |                 
        |                 
        .row
          .col-md-6
            .card
              .header
                h4.title 2014 Sales
                |                                 
                p.category All products including Taxes
              |                             
              .content
                #chartActivity.ct-chart
                |                     
                |                                 
                .footer
                  .legend
                    i.fa.fa-circle.text-info
                    |  Tesla Model S
                    |                                         
                    i.fa.fa-circle.text-danger
                    |  BMW 5 Series
                  |                                     
                  hr
                  |                                     
                  .stats
                    i.fa.fa-check
                    |  Data information certified
          |                     
          |                     
          .col-md-6
            .card
              .header
                h4.title Tasks
                |                                 
                p.category Backend development
              |                             
              .content
                .table-full-width
                  table.table
                    tbody
                      tr
                        td
                          label.checkbox
                            input(type='checkbox', value='', data-toggle='checkbox')
                        |                                                 
                        td Sign contract for &quot;What are conference organizers afraid of?&quot;
                        |                                                 
                        td.td-actions.text-right
                          button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                            i.fa.fa-edit
                          |                                                     
                          button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                            i.fa.fa-times
                      |                                             
                      tr
                        td
                          label.checkbox
                            input(type='checkbox', value='', data-toggle='checkbox', checked='')
                        |                                                 
                        td Lines From Great Russian Literature? Or E-mails From My Boss?
                        |                                                 
                        td.td-actions.text-right
                          button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                            i.fa.fa-edit
                          |                                                     
                          button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                            i.fa.fa-times
                      |                                             
                      tr
                        td
                          label.checkbox
                            input(type='checkbox', value='', data-toggle='checkbox', checked='')
                        |                                                 
                        td
                          | Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                        |                                                 
                        td.td-actions.text-right
                          button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                            i.fa.fa-edit
                          |                                                     
                          button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                            i.fa.fa-times
                      |                                             
                      tr
                        td
                          label.checkbox
                            input(type='checkbox', value='', data-toggle='checkbox')
                        |                                                 
                        td Create 4 Invisible User Experiences you Never Knew About
                        |                                                 
                        td.td-actions.text-right
                          button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                            i.fa.fa-edit
                          |                                                     
                          button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                            i.fa.fa-times
                      |                                             
                      tr
                        td
                          label.checkbox
                            input(type='checkbox', value='', data-toggle='checkbox')
                        |                                                 
                        td Read &quot;Following makes Medium better&quot;
                        |                                                 
                        td.td-actions.text-right
                          button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                            i.fa.fa-edit
                          |                                                     
                          button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                            i.fa.fa-times
                      |                                             
                      tr
                        td
                          label.checkbox
                            input(type='checkbox', value='', data-toggle='checkbox')
                        |                                                 
                        td Unfollow 5 enemies from twitter
                        |                                                 
                        td.td-actions.text-right
                          button.btn.btn-info.btn-simple.btn-xs(type='button', rel='tooltip', title='Edit Task')
                            i.fa.fa-edit
                          |                                                     
                          button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Remove')
                            i.fa.fa-times
                |                                 
                |                                 
                .footer
                  hr
                  |                                     
                  .stats
                    i.fa.fa-history
                    |  Updated 3 minutes ago
    |         
    |         
    |         
    footer.footer
      .container-fluid
        nav.pull-left
          ul
            li
              a(href='#')
                | Home
            |                         
            li
              a(href='#')
                | Company
            |                         
            li
              a(href='#')
                | Portfolio
            |                         
            li
              a(href='#')
                | Blog
        |                 
        p.copyright.pull-right
          | &copy; 2015 
          a(href='http://www.creative-tim.com') Creative Tim
          | , made with love for a better web
// Core JS Files
script(src='javascripts/jquery-1.10.2.js', type='text/javascript')
| &#x9;
script(src='javascripts/bootstrap.min.js', type='text/javascript')
// Checkbox, Radio & Switch Plugins
script(src='javascripts/bootstrap-checkbox-radio-switch.js')
// Charts Plugin
script(src='javascripts/chartist.min.js')
// Notifications Plugin
script(src='javascripts/bootstrap-notify.js')
// Google Maps Plugin
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
// Light Bootstrap Table Core javascript and methods for Demo purpose
script(src='javascripts/light-bootstrap-dashboard.js')
// Light Bootstrap Table DEMO methods, don't include it in your project!
script(src='javascripts/demo.js')
| &#x9;
| &#x9;
